build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/
apps/cms/public/media/
apps/site/public/media/
apps/site/public/
apps/site/out/
apps/cms/public/robots.txt
apps/cms/public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
